<div class="map-wrapper">
  <div class="map" 
  style="height: 100vh" 
  leaflet [leafletOptions]="mapOptions"
  (leafletMapReady)="onMapReady($event)"></div>
  <div *ngIf="stations">
    <button class="stations-button" (click)="onToggleStationsContainer()">
      <img width="15px" src="assets/icons/bicycle.svg" alt="">
      {{showStations ? 'Ukryj' : 'Stacje rowerowe'}}
    </button>
  </div>
  <div *ngIf="showStations" class="stations-list">
    <ul>
      <li *ngFor="let station of stations" (click)="showStationOnMap(station)">
        <app-station-item [station]="station"></app-station-item>
      </li>
    </ul>
  </div>
  <div *ngIf="activeStation" class="active-station-container">
    <app-station-item [station]="activeStation"></app-station-item>
  </div>
</div>
